extends layouts/main-layout.pug
block content 
        main
            if products.length > 0
                .grid 
                    each product in products 
                        article.card.product-item
                            header.card__header 
                                h1.product__title #{product.name}
                            .card__image
                                img(src="", alt="")
                            .card_content 
                                h2.product__price $19.99
                                p.product__description #{product.description}
                            .card_actions 
                                button.btn Add to acrt
            else 
                h1 No Products


